.studentInfo_button{
    margin:0 3px 20px;
    background-color: turquoise;
    color: black;

}

.studentInfo_button:hover{
   
}

.studentInfo_button-check{
    margin-top: 20px;
    background-color: goldenrod;
    border: 0;
    color:whitesmoke;

}
.studentInfo_button-check span{
    margin-right: 3px;
}
.studentInfo_button-check:hover, .studentInfo_button-check:focus  {
    background-color: darkgoldenrod;
    transform: scale(1.2, 1.2);
    color: white

}

.studentInfo_button-check:visited, .studentInfo_button-check:active{
    background-color: darkgoldenrod;

}






